@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    /* font-family: "Roboto", sans-serif; */
}

button,
input,
a,
img {
    display: block;
    outline: none;
    border: none;
}

p,
a,
span {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}

@layer components {
    input[type='range'] {
        @apply appearance-none bg-transparent cursor-pointer;
    }
    input[type='range']::-webkit-slider-thumb {
        @apply appearance-none w-[16px] h-[16px] rounded-full bg-transparent cursor-pointer;
    }
    input[type='range']::-webkit-slider-runnable-track {
        @apply appearance-none h-full w-full bg-transparent;
    }
}

.tippy-box {
    font-size: 11px;
    line-height: 1.3;
}
